body.mobilemenu{
    #container {
        transition: transform .25s ease-in-out;
        transform: translateX(0);
    }
}
body.mobilemenu.mobilemenu-active{
    overflow: hidden;
    #container{
        transform: translateX(80vw);
    }
}

 .mod_navigation {
    @media(max-width: $show-mobile-menu){
        position: fixed;
        left: 0;
        top: 70px;
        bottom: 0;
        width: 80vw;
        background: $color-boxes;
        transition: transform .25s ease-in-out;
        transform: translateX(-80vw);
        body.mobilemenu-active &{
            transform: translateX(0);
        }
        ul.level_1{
            overflow: hidden;
            overflow-y: auto;
            display: block;
            > li{
                > a, > strong {
                    display: block;
                    padding: 20px;
                }
            }    
        }
        &:after{
            content: "";
            position: absolute;
            left: 80vw;
            width: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,.5);
            transition: opacity .5s ease-in-out;
            opacity: 0;
            body.mobilemenu-active &{
                opacity: 1;
                width: 100vw;
            }
        }
    }
}
