.mod_navigation. {
    ul.level_1{
        display: flex;
        flex-direction: horizontal;
        > li{
            flex: 1;
            > a, > strong {
                display: block;
                padding: 25px;
                height: 70px;
                display: flex;
            }
            > a:hover{
                background: rgba(0,0,0,.05);
            }
        }    
    }
}
