.ce_form {

    label {
        font-size: 80%;
        margin-bottom: 6px;
    }

    input[type='text'], input[type='password'], input[type='number'], input[type='date'], input[type='email'], input[type='tel'], input[type='search'], select, textarea {
        font-family: $font-family-text;
        color: $color-text;
        display: block;
        width: 100%;
        border: 1px solid $color-lines;
        padding: 6px 10px;
        transition: background-color 0.2s ease-in-out;

        &:focus {
            background-color: $color-boxes;
        }
    }

    textarea {
        resize: vertical;
    }

    .formbody {
        @extend .flex-wrap;

        .widget {
            margin-bottom: 0.6em;
        }

    }


}
