.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.invisible {
    position: absolute;
    left: -999em;
}

.sticky{
    position: sticky;
}

// Flexbox templates

.flex-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-nowrap {
    display: flex;
    justify-content: space-between;
}
.w20 {
    width: 19%;
}
.w25 {
    width: 24%;
}
.w33 {
    width: 32.333%;
}
.w40 {
    width: 39%;
}
.w50 {
    width: 49%;
}
.w60 {
    width: 59%;
}
.w80 {
    width: 79%;
}
.w100 {
    width: 100%;
}
