#header {
    height: 70px;
    background: $color-boxes;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    .inside {
        @extend %contentwidth;
        @extend .flex-nowrap;
    }
}

#wrapper{
    padding-top: 70px;
}

#container {
    @extend %contentwidth;
    min-height: 100vh;
}

main {

}

aside {

}

footer {
    .inside {
        @extend %contentwidth;
    }
}
